/* h2 span { */
.text-brand {
    /* все span заколовки , которые такого цвета - с этим классом .text-brand */
    color: var(--color-primary-blue);
}

.text-bold {
    // все заголовки секций h2 700 (доминантный 400)
    // font-weight: 700;
    //700 есть в общем section__title, оттуда используется

    // для span (он, правда, один такой about-us) и там есть .beauty-zone
    font-weight: 600;

}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    //check-box центрировать . как минимум
    text-align: center;
}

.text-through {
    //перечеркнутый текст. Page2 food-card  цена 
    text-decoration: line-through;
}


.logo-width {
    //размеры лого разные. в 5 местах (по index – в 3х, еще 2 – это адаптив хедера и футера)
    //3 мобильные - одинак (моб хедер, моб футер, моб меню)
    width: $logo-mob;

    &__header {
        //верхний моб (без --header) не берет при использовании класса logo-width--header
        // ни так __, ни так --. Прилшлось повторять
        width: $logo-mob;

        @media screen and (min-width: $bp-desktop) {
            width: $logo-header;
        }
    }

    &__footer {
        width: $logo-mob;

        // margin-bottom: 22px; //от лого до 1-го меню мобверсии. В образце нет - ненадо выдерживать отступ?
        //в ДЗ - было "margin-bottom: 22px". Но в dog - убрала , меншает центрированию 2х картинок logo в футере. 2-яс буквами уезжает вверх


        //по макету 42px. есть gap 20px. ДОб. 22px до 42 мобверсии

        @media screen and (min-width: $bp-desktop) {
            width: $logo-footer;
        }
    }


}


.logo-sled-size {
    // размеры иконки 1й в логотипе – след icon-sled-logo
    width: 16px;
    height: 16px;

    &__header {
        @media screen and (min-width: $bp-desktop) {
            width: 43px;
            height: 43px;
            height: 100%; //чтобы не исчезал logo при ресайз при nowrap меню и 108 отступ до краев от всего меню header. Но - оч. уменьшается
        }
    }

    &__footer {
        @media screen and (min-width: $bp-desktop) {
            width: 43px;
            height: 36px;
        }
    }
}

.icon-color {

    //цвет иконкам брендовый оранж
    // стрелочке arrow-more svg обесцвеченной
    fill: var(--color-primary-orange);

    &__white {
        //цвет иконкам косточкиСчета на фотках светлый
        fill: var(--color-secondary-greymid);
    }

    &__gray {
        //цвет иконкам звездочки food-card Счета на фотках светлый
        fill: var(--color-secondary-grey);
    }

}

// .text-uppercase {
//     text-transform: uppercase;
// }



// .text-left {
//     /* все h2 center, кроме about-us-section */
//     text-align: left;
//     // нет, так не сработало.
//     // добавлено в _section.scss section__title--left
// }