:root {
    // --color-primary-white: #fff;
    // --color-primary-blue: #2b7fff;
    // --color-primary-bluedark: #011c44;

    // --color-secondary-grey1: #4a4a4a;
    // --color-secondary-grey2: #4a4a4a;
    // --color-secondary-greylight: #747272;
    // --color-secondary-bluedark: #011f4a;
    // --color-secondary-yellow: #ffd02b;
    // --color-black: #000;

    --color-primary-white: #ffffff;
    --color-primary-orange: #ff9f0e;
    --color-primary-black: #181817;

    // --color-secondary-yellow: #fcb62a;
    --color-secondary-yellow: red; //вернуть желтый!!!
    --color-secondary-light: #fffaf3;
    --color-secondary-greymid: #f1f3ff;
    --color-secondary-grey: #839aa9;
    --color-secondary-greylight: #f9f9ff;
    --color-secondary-purple: #d9a6ff;

    --color-primary-grey-font: #d8d8d8;
    --color-primary-black-font: #09061c;
    --color-primary-yellow-font: #FFAA00;

    --color-modal-black: #31261A;

}



// Цвет тени блюр карточек why-us-section
$color-primary-bluelight: #A8C6F5;
$color-primary-black-shad: #1818170D;
$color-primary-black-shad14: #18181714;
// $color-primary-black-blur: red;   для теста - невидно др. цветом


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;


//для logo width - буквы 
// в .logo-width__header и .logo-width__footer dog 
$logo-header: 137px; //74px;
$logo-footer: 147px; //83px;
$logo-mob: 74px; //57px;


$logo-ico-width: 43px;
$logo-ico-header-h: 43px;
$logo-ico-footer-h: 36px;
$logo-ico-mob: 16px;