// Logo.scss
//для иконки-след слева ::before везде

.logo {
    // 2 svg рядом вместе logo = sled+буквы
    display: flex;
    align-items: center; // Выравнивание по вертикали
    gap: 2px; //в logo между 2-мя картинками рядом

    align-self: flex-start; // не менять размер , чтобы не пряталось Logo при ресйаз, проблемы 108 115px
    //попорционально очень уменьшается logo c 108. 

    // flex-shrink: 0; //не сжимать . (прячется Logo при рресайз при  108 от краев и 115 gap и меню в 2 строки )
    //НО -  тогда правые (basket+butoon) наезжают на текст меню 

    // position: relative; // Для абсолютного позиционирования ::before

    // img {
    //     width: 50px; // Настройте размеры по необходимости
    //     height: auto;
    // }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: -20px; // Настройте отступ слева
    //     top: 50%;
    //     transform: translateY(-50%); // Вертикальное центрирование
    //     width: 50px; // Настройте размеры по необходимости
    //     height: auto;
    //     background-image: url("../images/icon-sled-logo.svg"); // Путь к левому SVG
    //     background-size: contain;
    //     background-repeat: no-repeat;
    // }

    &__gap {
        //more+стрелка - в одной ссылке. Сделано классом logo.
        //добвить gap отодыинуть стрелку от текста в flex.
        //172-124-40=8gap   more+"arrow-more"
        gap: 8px;
    }
}