/* Container for center общий, у всех секци одинаковый*/
.container {
    /* width: 1240px; */
    /* надо чтобы сайт не менял размеры при изменении адаптив-размеров (экрана)  */
    width: 100%;
    /* max-width: 1240px; */
    /* 1288=1240+24*2   т.к. padiing (ниже установлен "padding: 0 24px;") из-за установленного box-sizing (отсчет отступов вовнутрь) не учитываются, их надо добавить */
    max-width: 1288px;
    /* центрировать контейнер container относително макс размера горизонтально */
    margin: 0 auto;
    /* чтобы слева-справа не прирлипал к границе - внутренний отступ  в контейнере сделать: */
    padding: 0 24px;

    // 1.для стрелки спиральной большой в sect3 why-us = services 4карты
    // <svg class="arrow-services">
    //  в index - внутри <div class="why-us-section__content">,
    //а не выше, внутри общего "container".
    //м.б. критично (relative здесь, в общем container),если каакие-то другие элементы поедут потом из –за общего relative. Но здесь по факту=норм.
    //к другим родителям-div не оч. поцепишт - самв section - нет границы статичной верхней правой. при ресайз стрелка уезжает
    //другой - меньше секции. не ч=оч. удобно позиционировать. 
    //
    //2.он же - для привязки .sled иконок секции contacts
    //ДЛя этого Иконки расположены в index внутри , ниже container 
    position: relative;

    border: 1px solid red; //убрать!!!
}