/* Мodal */
.backdrop {
    /* затемененный фон под активным модальным окном-  фиксированный элемент */
    position: fixed;
    /* растягиваться на всю ширину экрана. */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* фон - с макета  */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(24, 24, 23, 0.4);

    /* для расположить модальное окно modal  по центру родителя-backdrop */
    display: flex;
    align-items: center;
    justify-content: center;
    /* модальное окно отодвинуть от границ  - относительно родительского  Padding-Ом */
    // padding: 20px 0;
    // со всех сторон отодвинуть
    // padding: 20px;
    padding: 20px 0; //модальному мобильному меню сортировки надо 0 с боков от backdrop

    /* анимация ПЕРЕХОД- плавнее показывать модальное окно */
    transition: opacity 0.2s, visibility 0.2s;

    // .backdrop.is-hidden {
    &.is-hidden {
        /* когда к backdrop добавляется класс 'is-hidden', надо его- (backdrop c окном) прятать: */
        /* display: none; так потом не будет работать анимация - передеоать в вар2:*/

        /* в2 реализации  */
        /*  анимация ПЕРЕХОД  transition к opacity и visibility  -  в .backdrop, выше
        transition: opacity 0.2s, visibility 0.2s;  */

        /* делает окно прозрачным , но еще можно нажать на любой контент внутри формы, поля ввода*/
        opacity: 0;
        /* чтобы нельзя нажать на элементы скрытой формы */
        /* Не сделать окно прозрачным , а  спрятать его, нажать нельзя уже на элементы на окне. */
        visibility: hidden;

        /* чтобы вообще нельзя было нажать на окно */
        pointer-events: none;
    }
}


.modal {
    display: none;
    /* модальное окно 880х880*/

    // // хотела сделать или-или .modal -
    // // 1. мобверсия показывает модальное меню сортировки
    // // 2. декстоп - модальное окно-форму
    // // Но - кн Contact us есть и в моб версии - мб тоже надо показывать форму модальную.
    // // И ресайз нехорошо смена одного по смыслу окна на другое :
    // // если  нажать в моб меню кн сортировки  будет показывать модменю сортировки,
    // // ресайз до декстопного - поменяется на модальную форму. А ее никто не звал.
    // // Понятно , это режим разработчика. Но просто без ф12 при ресайз окна - тоже отрабатывает смена режима по размеру окна.
    // // НО так не делаю (разделени модальных окон по режимам моб и декстопный в одном modal)
    // // надо другое мод.окно modal-sort

    // /* для больших экранов не больше 723х681px модальное окно */
    // /* если окно меньше 723х681 то модальное окно будет занимать 100% окна по ширине*/
    // /* width: 723px; */
    // width: 100%;
    // max-width: 880px;
    // /* height: 880px; */
    // height: 100%;
    // max-height: 880px;

    // //  на макете для моб версии нет - сами 48 взяли
    // padding: 48px;

    // background-color: var(--color-secondary-light);
    // // background: #FFFAF3;

    // border-radius: 32px;

    // /* для расположить относительно него кнопку крестик close */
    // position: relative;
    // /* чтобы скроллилось модальное окно когда не помещается содержимаое (input...)*/
    // overflow-y: auto;

    @media screen and (min-width: $bp-desktop) {
        /* модальное окно 880х880*/

        /* для больших экранов не больше 723х681px модальное окно */
        /* если окно меньше 723х681 то модальное окно будет занимать 100% окна по ширине*/
        /* width: 723px; */

        display: block;
        width: 100%;
        max-width: 880px;
        /* height: 880px; */
        height: 100%;
        max-height: 880px;

        //  на макете для моб версии нет - сами 48 взяли
        padding: 48px;

        background-color: var(--color-secondary-light);
        // background: #FFFAF3;

        border-radius: 32px;

        /* для расположить относительно него кнопку крестик close */
        position: relative;
        /* чтобы скроллилось модальное окно когда не помещается содержимаое (input...)*/
        overflow-y: auto;


        /* на макете вокруг заголовка - формы такие отступы 144 слева-справа, 42 – сверху- снизу
 (В пекарне - брали с 3-х сторон отступы128 , низ другой 187 - отдельно не задавали) */
        // padding: 42px 144px;  //бз
        padding: 142px 140px;
    }


    // .modal-btn-close {
    // .modal__btn-close {
    &__btn-close {
        /* кнопка крестик close */
        position: absolute;
        top: 40px;
        right: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        fill: transparent;
        /* так крестик видно, а не песочные часы */
        stroke: var(--color-modal-black);
        background-color: transparent;
        border: 2px; //border: none;
        cursor: pointer;
    }

    // .modal-title {
    // .modal__title {
    &__title {
        /* Заголовок H2 модальнйо формы - белый (на странице - синие все) */
        color: var(--color-primary-black);

        /* background-color: var(--color-primary-light); */
        font-family: "Rowdies", sans-serif; //font-family: "Play", sans-serif;
        font-size: 56px;
        font-weight: 400; //root, но 700 без этого пишет
        line-height: 1;

        margin: 0;
        text-align: center;
        max-width: 605px;
        padding-bottom: 16px; // от заголовка до текста серенького маленького снизу

    }


    // .modal__text {
    &__text {
        // /* абзац p модальнйо формы - белый (на странице - синие все) */
        // color: var(--color-primary-white);

        /* абзац p модальнйо формы - серый (на странице - оранж все) */
        color: var(--color-secondary-grey);

        /* background-color: var(--color-primary-light); */

        /* roboto доминантный */
        // Roboto 400 14 14 (100%)
        font-size: 14px;
        // font-weight: 400;   //root
        line-height: 100%;
        /* margin: 0; */
        text-align: center;
        // max-width: 272px;
        margin: 0 auto 24px;

        @media screen and (min-width: $bp-desktop) {
            // max-width: 274px;
            //Roboto 400 18 24 (24/18=1.3) это доминант, но после моб версии - ннадо переназначить. взял 14 от моб. без переназначения
            font-size: 18px;
            line-height: 1.33;
            /* без этого не центрируется после max-width */
            margin: 0 auto 42px;

            letter-spacing: 5%;
        }
    }

    // .modal__form-field
    // картинки к image - с пом. background  -работает это
    &__form-field {
        /* отступы между div (label+input) */
        margin-bottom: 24px;

        &--user-name {
            background: url('../images/mod4_1username.svg') no-repeat 40px 8px / 32px 32px;
        }

        &--pet-name {
            background: url('../images/mod4_2petname.svg') no-repeat 40px 8px / 32px 32px;
        }

        &--phone {
            background: url('../images/mod4_3phone.svg') no-repeat 40px 8px / 32px 32px;
        }

        &--email {
            background: url('../images/mod4_4email.svg') no-repeat 40px 8px / 32px 32px;
        }
    }

    //проба картинки к image - с пом. before  -работает, недоделалось 4 разных картинки через &--
    // .modal__form-field2 {
    &__form-field2 {
        //это - ласс div (label+input)
        /* отступы между div (label+input) */
        margin-bottom: 24px;

        // картинку svg перед текстом внутри input  (применяется к div родительскому для input+label)
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
            width: 25px;
            height: 25px;
            // background: url('https://cdn0.iconfinder.com/data/icons/ThemeShock-credit-cards-icons/64/mastercard.png') no-repeat;
            background: url('../images/icon-sled-logo.svg') no-repeat;
            background-size: cover;
            //background-color: aqua;
            border: 1px solid;


        }

        &--user-name {
            background: url('./images/icons.svg#icon-sect4_1your-name') no-repeat;
            // background: url('./images/icon-sled-logo.svg') no-repeat;

        }

    }


    // modal__form-field0 - одна команда.
    // Было -   Только отступ между div-ами(label+input)
    &__form-field0 {
        /* отступы между div (label+input) */
        margin-bottom: 24px;
    }

    // .modal__button {
    &__button {
        /* центрировать кнопку на форме */
        /* кнопка по-умолч не является блоком. Она display-inlineblock (f12 видно) */
        /* сделать кнопку на офрме block, чтобы центрировать ее с пом. margin 0 auto */
        display: block;
        /* доб 8 px снизу до параграфа отступ от кнопки */
        // margin: 0 auto 8px;
        // 8 снизу убрать.т.к. :
        // Есть от кнопки вниз 8px  .modal__button    margin: 0 auto 8px;
        // Есть от iagree вверх до кнопнки 17 px .footer__iagree {...margin-top: 17px;…}
        // 8+17=25  для оставить только 17 (=16) от iagree вверх
        margin: 0 auto;


        // // .modal__button:hover {
        // &:hover {
        //     /* Hover – цвет текста поменять для модальной формы.
        //    Не видно текст при наведении.
        //    Он по button-ptimary для кнопок на странице – темно-синий (так на странице надо и норм)
        //     А на модальной форме – одинак с фоном */
        //     // color: var(--color-primary-blue);
        //     // dog -белый фонт , и так, и фокус
        // }
    }

    &__iagree {
        //все стили - от footer__iagree, но там 17 mrg-btm
        //здесь в модаль - есть modal__button 16px
        margin-top: 0px;
    }
}