.nutri-menu-section {
    padding: 72px 0 0 0px; //от блока текста вверх 73 до границы окна и вниз
    padding-bottom: 16px; //32/2 до след. секции food

    @media screen and (min-width: $bp-desktop) {
        padding: 157px 0 0 0px; //от блока текста вверх 157 до границы окна и вниз
        // padding-top: 72px; //между секциями 72 до header. У header padding-bottom =0
        padding-bottom: 36px; //72/2 до след. секции nutri-food-section 
    }

    // nutri-menu-section__container
    &__container {
        // нет меню сортировки в моб., все в декстоп принимается
        /* для расположить горизонтально рядом Nutrition и меню сортировки */
        display: flex;
        /* Назв и сорт - моб влево*/
        align-items: start;
        /* меню сорт заняло все соб. место, уехало вправо */
        // flex-grow: 1;   //это для внутренних элементов flex
        /* для разделить в назв и меню (слева)  при уменьшении размера экрана */
        // gap: 40px;
        height: 80px; //nutritions+ 16 gap+24 Popularity
        flex-direction: column;

        @media screen and (min-width: $bp-desktop) {
            /* для разделить Nutrition и менюСорт  при уменьшении размера экрана */
            gap: 350px;
            /* Назв и меню сорт - центрированной по вертикали*/
            align-items: center;
            // Равномерно распределяет все элементы по ширине flex-блока. Первый элемент вначале,последний в конце 
            justify-content: space-between; //меню сорт уехало вправо
            // height-max: 70px;
            height: 70px;
            flex-direction: row;
        }
    }

    // .nutri-menu-section__title {
    &__title {
        // меню 2й страницы Nutrition

        //так в моб - все тексты -=и заголовки центрируются
        text-align: center;
        // Rowdies 400 32 32
        // background: #FF9F0E;
        font-family: Rowdies;
        color: var(--color-primary-orange);
        // font-weight: 400;   наслед
        font-size: 32px;
        line-height: 100%;


        @media screen and (min-width: $bp-desktop) {
            // padding: 217px 0 0 0;
            // max-width: 635px; //530px;
            // width: 100%;
            // text-align: left;
            // margin: 0 auto;

            // rowdies 400 56 56
            font-size: 56px;
        }


        /*  Hero   h1 отдельно:  
p mini "Косметологічна клініка" + h1 big "beauty zone" */

        /*1. Косметологічна клініка   mini-text  p параграфом*/
        // .hero-title-mini {
        // .hero-section__title--mini {
        // &_title--mini {
        &--mini {
            font-size: 12px;
            /* 18 /12=1.5 */
            line-height: 1.5;
            /* меняем дефолтный для <p> margin-bottom 18px на 16 px по дизайну*/
            margin-bottom: 0px;
            margin-top: 25px;
            /* font все из доминанта 18px 400  1.2 */
            color: var(--color-primary-bluedark);
            /* тени нет */
            /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

            @media screen and (min-width: $bp-desktop) {
                //доминантные, но после моби 1-го 12 надо восстановить, само не берет наследование 18
                font-size: 18px;
                /* 21 /18=1.2 */
                line-height: 1.2;
                /* меняем дефолтный для <p> margin-bottom 18px на 16 px по дизайну*/
                margin-bottom: 16px;
                margin-top: 16px;
            }
        }


        /*2. Hero h1   -  big beauty zone*/

        // .hero-title-big {
        // .hero-section__title--big {
        // &__title--big {
        &--big {

            // color: домнантн наслед;
            font-family: Rowdies;
            font-weight: 400; //400 не наследует. Пишет 700. поэтому пишу сюда доминантный 400
            // text-align: center;   н уровне родител центрирутеся
            font-size: 32px;
            /*Line height  46 / font-size 54    46/54= 0.86 */
            line-height: 100%;
            /* в 1 строкe beauty zone big */

            max-width: 303px; //dog
            margin: 0 auto 24px; // margin-bottom: 24px; //dog

            @media screen and (min-width: $bp-desktop) {
                /* УБрать дефолт margin-bottom этому заголовку (аж 116 был дефолт)*/
                /* Пока оставлю 40 - снизу до кнопки, пменять потом мб на 0!!!!!!!! После div */
                margin-bottom: 40px; //dog

                // color: var(--color-primary-blue);
                // font-family: Play, sans-serif;
                // text-align: left;  на уровне родитеял - все  влево
                // text-bold можно в index .   // убрала font-weight 700 здесь, но он сам в вычислено 700 пишет. от h2 из section__title  font-width 700
                // font-weight: 700;

                // text-transform: capitalize; //.text-capitalize
                font-size: 72px;
                /*Line height  114 / font-size 140  */
                // line-height: 0.81;
                /* в 2 строки h1 */
                max-width: 635px; //dog
                letter-spacing: 5%;

                /* border-radius: 2px 2px 2px 116px; */
                /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);   из макета . Не работает*/
                /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
                /* -moz-text-decoration-line: 4px rgba(0, 0, 0, 0.25);
  text-stroke: 4px rgba(0, 0, 0, 0.25); */
                /* у меня визуально был шрифт с обрамлением. в макете - таки нет. */
                /* -webkit-text-stroke: 4px rgba(0, 0, 0, 0.25); */

                /* 16px между minn and big-SPAN не получается ни margin-top: 16px; ни  padding-top: 16px; */
                /* margin-top: 16px; */
                /* padding-top: 16px; */

                /* font-style: italic; */
                /* text-transform: capitalize; */
                /* text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 4px;
  white-space: nowrap; */
            }
        }

    }

    // nutri-menu-section__sort {
    &__sort {
        // sorting + меню рядом горизонтально flex  
        //для десктопногот только. Но - в мобильном режиме прячется меню все гориз, остается только первый элемент
        display: flex;
        /* для задать расстояние между sorting и меню-sort */
        gap: 8px; //между sorting и меню-sort
        // display: none;
        flex-direction: row;
        padding-top: 16px; //моб - между Nutrition и sort

        @media screen and (min-width: $bp-desktop) {
            // от десктоп версии - меню есть
            /* Элементы меню расположить горизонтально */
            // display: flex;
            /* для задать расстояние между sorting и меню-sort */
            gap: 5px;
            /* Чтобы меню заняло все свободно место в родительском элементе nav (класс  .header-nav) :   часть займет лого, а все оставшееся - меню ul */
            // flex-grow: 1;
            // flex-direction: row;
            /* выравнять элементы меню по главной горизонтальной оси (в рамках занятого им (меню) места ) */
            justify-content: right;
            // align-items: center; //вертикально центрир меню сорт
            padding-top: 0px; //отменить моб 16- между Nutrition и sort
        }
    }


    // nutri-menu-section__sorting
    &__sorting {

        //перед меню sort 
        // иконка-стрелки для моб. /ИЛИ текст Sorting для дексктопа
        &--text {
            display: none;

            @media screen and (min-width: $bp-desktop) {
                // текст "Sorting"  слева от меню сортировки на декстопной
                // (на моб -иконка стрелочки)
                font-family: Roboto;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 5%;
                color: var(--color-primary-orange);
                /* меняем дефолтный для <p> margin-bottom 18px на 16 px по дизайну*/
                margin-bottom: 0px;
                padding-right: 16px;
                // для расположить текст по-центру вертик:
                display: flex;
                align-items: center;
            }
        }

        // nutri-menu-section__sorting--icon
        // nutri-menu-section__sorting--button
        &--icon,
        &--button {
            // кнопка с иконкой стрелочки сортировкии
            //спрятать(десктоп)- показать(моб) кнопку
            //теперь нужна только --button (после того, как иконку сделала кнопкой вызова модального меню сортировки )
            display: block;
            fill: var(--color-primary-orange);

            @media screen and (min-width: $bp-desktop) {
                display: none;
            }
        }

        // // nutri-menu-section__sorting--button
        // &--button {
        //     display: block;
        //     fill: var(--color-primary-orange);

        //     @media screen and (min-width: $bp-desktop) {
        //         display: none;
        //     }
        // }

    }



    // nutri-menu-section__sort-menu {
    &__sort-menu {
        // Элементы меню моб. расположить вертик, 
        //только первый показывать в моб. (см. ниже__sort-item--show)
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 24px;
        // roboto 400 14 14
        font-size: 14px;
        line-height: 100%;
        white-space: nowrap;
        align-items: left; //моб меню - вертик, влево
        padding-top: 4px; // сверху до первого элемента

        @media screen and (min-width: $bp-desktop) {
            // от десктоп версии - меню есть
            /* Элементы меню расположить горизонтально */
            // display: flex;
            flex-direction: row;
            /* для задать расстояние между элементами меню */
            // gap: 2px;
            height: 35px;
            // /* Чтобы меню заняло все свободно место в родительском элементе nav 
            // (класс  .header-nav) :   часть займет лого, а все оставшееся - меню ul */
            // flex-grow: 1;
            // /* выравнять элементы меню по главной горизонтальной оси (в рамках занятого им (меню) места nav) */
            // justify-content: right;

            // roboto 400 16 16
            // font-family: Roboto;
            // color: var(--color-primary-black);  наслед
            // font-weight: 400;   наслед
            font-size: 16px;
            // line-height: 100%;
            align-items: center; //центрир вертикально
            // white-space: nowrap;
            padding-top: 0px; // отменить моб 4 - сверху до первого элемента
        }
    }

    // nutri-menu-section__sort-item 
    &__sort-item {
        //Только 1й элемент меню sort показывать(--show ниже) в моб.версии, остальные прятать
        display: none;

        //элементы меню sort - шрифт  рамка
        @media screen and (min-width: $bp-desktop) {
            // roboto 400 16 16
            // font-family: Roboto;
            // color: var(--color-primary-black);
            // font-weight: 400;   наслед
            // font-size: 16px;
            // line-height: 100%;
            display: list-item; //иначе не пе показывает кроме 1-го --show. отменить none моб-версии

            padding: 8px;
            border: 1px solid var(--color-secondary-grey);
            border-left: 0px;
            border-radius: 0 2px 2px 0;
            margin-left: -2px; //слева убрать пустое место от границы

            &:first-child {
                // первый элемент меню - другая рамка
                border-left: 1px solid var(--color-secondary-grey);
                border-radius: 2px 0 0 2px;
                margin-left: 0px;
            }

            &:hover {
                background-color: var(--color-primary-orange);
                color: var(--color-primary-white);
            }

            &:active {
                //когда нажали
                background-color: red;
                // border-radius: 2px 0 0 2px;
                // background-color: var(--color-primary-orange);
                // color: var(--color-primary-white);
            }

            // &:focus-within {
            //     //убрать выделение первому при активации другого
            //     background-color: var(--color-primary-white);
            // }


        }

        // nutri-menu-section__sort-item--show
        &--show {
            //1й элемент меню sort показывать в моб .версии, остальные прятать
            display: list-item;
        }

        // // nutri-menu-section__sort-item--active
        // &--active {
        //     //это выделить первый по-умолч выбранным
        //     //в html: class="nutri-menu-section__sort-item nutri-menu-section__sort-item--active"
        //     background-color: var(--color-primary-orange);
        //     // отменять - js
        // }

    }
}